In [47]:
# initialize environment

import pandas as pd
import warnings
warnings.filterwarnings("ignore")

input_file = "static/data/winequalityN.csv"
output_file = "static/data/clean_winequality.csv"
redoutput_file = "static/data/clean_redwineq.csv"
whiteoutput_file = "static/data/clean_whitewineq.csv"
baroutput_file = "static/data/barchart_data.csv"
bar_desc_file = "static/data/bar_desc.csv"

In [48]:
# read wine data into a dataframe

wine_df = pd.read_csv(input_file)
wine_df.rename(columns={"sulphates": "sulfates"}, inplace=True)
wine_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality
0,white,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9
1,white,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9
2,white,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9
3,white,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9
4,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9

In [49]:
# looking at how many red and white wine
# datapoints we have

wine_df.groupby("type").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality
type,,,,,,,,,,,,
red,1597,1598,1598,1599,1599,1599,1599,1599,1597,1597,1599,1599
white,4890,4891,4896,4896,4896,4898,4898,4898,4891,4896,4898,4898

In [50]:
# fill in null data with mean for the column

for col, value in wine_df.items():
    if col != "type" and col != "quality_label":
        wine_df[col] = wine_df[col].fillna(wine_df[col].mean())

In [51]:
# verify that we have no null data left

wine_df.groupby("type").count()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality
type,,,,,,,,,,,,
red,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599,1599
white,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898,4898

In [52]:
# looking at how many datapoints fall within each quality category

wine_df.groupby("quality").count()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol
quality,,,,,,,,,,,,
3,30,30,30,30,30,30,30,30,30,30,30,30
4,216,216,216,216,216,216,216,216,216,216,216,216
5,2138,2138,2138,2138,2138,2138,2138,2138,2138,2138,2138,2138
6,2836,2836,2836,2836,2836,2836,2836,2836,2836,2836,2836,2836
7,1079,1079,1079,1079,1079,1079,1079,1079,1079,1079,1079,1079
8,193,193,193,193,193,193,193,193,193,193,193,193
9,5,5,5,5,5,5,5,5,5,5,5,5

In [53]:
#looking at stats

wine_df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.295751,0.164548,0.145231,4.757392,0.035031,17.749400,56.521855,0.002999,0.160637,0.148768,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [54]:
# create a column and place data into 3 quality buckets

wine_df.loc[wine_df["quality"] <=3, "quality_label"] = 'Poor'
wine_df.loc[((wine_df["quality"] > 3) & (wine_df["quality"] < 7)), "quality_label"] = 'Good'
wine_df.loc[wine_df["quality"] >= 7, "quality_label"] = 'Excellent'

In [55]:
#display the dataframe

wine_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality,quality_label
0,white,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9,Excellent
1,white,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9,Excellent
2,white,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9,Excellent
3,white,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9,Excellent
4,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9,Excellent

In [56]:
# split data by type

redwine_df = wine_df[wine_df["type"] == 'red']
whitewine_df = wine_df[wine_df["type"] == 'white']

In [57]:
# drop the wine type column from the red wine set

redwine_df = redwine_df.drop("type", axis=1)
redwine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality,quality_label
180,7.9,0.35,0.46,3.6,0.078,15.0,37.0,0.9973,3.35,0.86,12.8,8,Excellent
181,10.3,0.32,0.45,6.4,0.073,5.0,13.0,0.9976,3.23,0.82,12.6,8,Excellent
182,5.6,0.85,0.05,1.4,0.045,12.0,88.0,0.9924,3.56,0.82,12.9,8,Excellent
183,12.6,0.31,0.72,2.2,0.072,6.0,29.0,0.9987,2.88,0.82,9.8,8,Excellent
184,11.3,0.62,0.67,5.2,0.086,6.0,19.0,0.9988,3.22,0.69,13.4,8,Excellent

In [58]:
# drop the wine type column from the white wine set

whitewine_df = whitewine_df.drop("type", axis=1)
whitewine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality,quality_label
0,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9,Excellent
1,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9,Excellent
2,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9,Excellent
3,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9,Excellent
4,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9,Excellent

In [59]:
# write clean files: red wine, white wine, all data

wine_df.to_csv(output_file, index=False)
redwine_df.to_csv(redoutput_file, index=False)
whitewine_df.to_csv(whiteoutput_file, index=False)

In [60]:
# group data by quality score for bar chart processing

bar_df = redwine_df.groupby("quality_label").mean()
bar_df.sort_values('quality_label', ascending=False, inplace=True)
bar_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol,quality
quality_label,,,,,,,,,,,,
Poor,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000,3.000000
Good,8.237196,0.544329,0.255247,2.511224,0.089039,16.209913,48.456268,0.996855,3.313584,0.645031,10.253195,5.426385
Excellent,8.847005,0.405530,0.376498,2.708756,0.075912,13.981567,34.889401,0.996030,3.288802,0.743456,11.518049,7.082949

In [61]:
# create a dataframe with units for each feature

descriptions = {'fixed acidity':['(g/dm^3)'],
                'volatile acidity':['(g/dm^3)'],
                'citric acid':['(g/dm^3)'],
                'residual sugar':['(g/dm^3)'],
                'chlorides':['(g/dm^3)'],
                'free sulfur dioxide':['(mg/dm^3)'],
                'total sulfur dioxide':['(mg/dm^3)'],
                'density':['(g/dm^3)'],
                'pH':[''],
                'sulfates':['(g/dm^3)'],
                'alcohol':['(% vol)']}

desc_df = pd.DataFrame(descriptions)
desc_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulfates,alcohol
0,(g/dm^3),(g/dm^3),(g/dm^3),(g/dm^3),(g/dm^3),(mg/dm^3),(mg/dm^3),(g/dm^3),,(g/dm^3),(% vol)

In [62]:
# create files for dynamic bar chart

bar_df.to_csv(baroutput_file)
desc_df.to_csv(bar_desc_file, index=False)